/** {
	border: 1px solid green;
}*/

.container {
	height: 650px;
	width: 650px;
}

.bar {
	background-color: lightgrey;
	border: 2px solid grey;
}

.bar p,
.bar label,
.bar div {
	display: inline;
}

.display {
	width: 20px;
	color: white;
}

.match {
	background-color: purple;
}

.nope {
	background-color: red;
}

.victory {
	background-color: gold;
}

.board {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

.card {
/*	height: 65px;
	width: 65px;*/
	float: left;
	margin: 7px;
	border: 3px solid white;
	font-size: 20px;
	text-align: center;
	color: brown;
	background-size: 100% 100%;
}

.back:hover {
	border: 3px solid yellow;
}

.back {
	background-color: brown;
	cursor: pointer;
}

.front {
	border: 3px solid green;

}

.button {
	border: 1px solid black;
	cursor: pointer;
}

.inactive {
	cursor: default;
	opacity: .5;
}

.hidden {
	visibility: hidden;
}

.centered {
	position: absolute;
	top: 200px;
	left: 30%;
	width: 40%;
	background-color: purple;
}

.new {
	background-color: yellow;
}