.container {
	min-height: 650px;
	min-width: 650px;
	font-family: Verdana;
}

.bar {
	background-color: #2C827C;
	border: 2px solid #1D3749;
	height: 50px;
	width: 95%;
	margin: 0 auto;
}

.section {
	display: block;
	float: left;
	width: 29%;
	margin: 4px 2% 4px 2%;
	height: 80%;
}

.bar p {
	display: inline;
}

.display {
	color: white;
	text-align: center;
	font-size: 30px;
}

.match {
	background-color: purple;
}

.nope {
	background-color: red;
}

.victory {
	background-color: gold;
}

.board {
	min-height: 600px;
	width: 95%;
	margin: 0 auto;
	background-color: #45AD3A;
	display: block;
}

.card {
	display: inline-block;
	margin: 7px;
	border: 3px solid #45AD3A;
	background-size: 100% 100%;
}

.back:hover {
	border: 3px solid black;
}

.back {
	background-color: brown;
	cursor: pointer;
}

.button {
	border: 2px solid #D38447;
	cursor: pointer;
	background-color: #D38447;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.button:hover {
	border: 2px solid #8F450D;
}
.action .button {
	width: 18%;
	height: 70%;
	margin: 5px 3% 0 3%;
	display: inline-block;
}

.inactive {
	cursor: default;
	opacity: .5;
}

.hidden {
	visibility: hidden;
}

.gallery {
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	background-color: #CF464D;
	padding: 20px;
	border: 1px solid black;
}

.gallery p {
	display: block;
}

.options label, 
.options input, 
.options select {
	font-size: 30px;
}

.new {
	background-color: yellow;
	border-radius: 3px;
}

.gallery .button {
	float: none;
}