/** {
	border: 1px solid green;
}*/

.container {
	height: 650px;
	width: 650px;
	border: 1px solid green;
}

.bar {
	background-color: lightgrey;
	border: 2px solid grey;
	height: 50px;
	width: 600px;
	margin: 0 auto;

}

.section {
	border: 1px solid red;
}

.bar p,
.bar label,
.bar div,
.bar input, 
.bar select {
	display: inline;
}

.display {
	width: 20px;
	color: white;
}

.match {
	background-color: purple;
}

.nope {
	background-color: red;
}

.victory {
	background-color: gold;
}

.board {
	height: 600px;
	width: 600px;
	margin: 0 auto;
	border: 1px solid purple;
	background-color: blanchedalmond;
}

.card {
/*	height: 65px;
	width: 65px;*/
	float: left;
	margin: 7px;
	border: 3px solid blanchedalmond;
	background-size: 100% 100%;
}

.back:hover {
	border: 3px solid black;
}

.back {
	background-color: brown;
	cursor: pointer;
}

.front {
	border: 3px solid green;
}

.button {
	border: 1px solid black;
	cursor: pointer;
	background-color: green;
	color: white;
	border-radius: 5px;
}

.inactive {
	cursor: default;
	opacity: .5;
}

.hidden {
	visibility: hidden;
}

.gallery {
	position: absolute;
	top: 200px;
	left: 30%;
	width: 40%;
	background-color: pink;
}

.new {
	background-color: yellow;
}